/* 1360px */
@media(min-width:85rem){
    .mobile-nav {
        display: none;
    }
}
@media(max-width:85em) {
    .hero-header {
        line-height: 1;
        padding-bottom: 5rem;
    }
    .mobile-nav {
        display: none;
      }
}
/* 1320px */
@media(max-width:83em) {
  .content-permbajtja {
      font-size: 80%;
  }
}
/* 12116 */
@media(max-width:76em) {
    .content {
        gap:4rem;
    }
    .img-content {
        width: 30rem;
        height: 30rem;
    }
    .img-timeSaving {
        width: 15rem;
        height: 15rem;
    }
    .img-increase{
        width: 15rem;
        height: 15rem;
    }
}
/*  1072px*/
@media (max-width:67em) {
    html {
        font-size: 50%;
    }
    .hero-header {
        line-height: 1;
        padding-bottom: 5rem;
    }
    .img-hero {
        width: 35rem;
        height: 50rem;
    }
    .hero-section {
        margin-left: 50rem;
    }
    .system-usage .slide-show {
        width: 100%;
    }
}
/* 923px */
@media(max-width:53em) {
    .fotot-shtese p{
font-size: 1.6rem;
}
.header-content {
    padding-bottom: 2rem;
    
}
.img-content {
    width: 20rem;
    height: 20rem;
}
.fotot-shtese {
    gap: 10rem;
}
.foto-div {
    width: 15rem;
}
.pricing-table .block-heading {
   font-size: 2.4rem;
}
.row{
flex-direction: column;
align-items: center;
}
.item {
    width: 30rem;
}
}
   
/* 760px */
@media(max-width:48em) {
    header {
        position: relative;
      }
    
      .mobile-nav {
        display: block;
      }
    
      .nav-bar {
        position: fixed;
        top: 0%;
        left: 100%;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.93);
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        transition: all 0.3s ease-in-out;
    
        /* 1. Opacity: 0  */
        opacity: 0;
        /*  2. Set Mouse and keyboard events to none */
        pointer-events: none;
    
        /* 3. Hide element from screen reader */
        visibility: hidden;
    
        /* display: none; */
    
        z-index: 10;
      }
    
      .open-nav .nav-bar {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        left: 0%;
      }
    
      .open-nav button {
        position: fixed;
        right: 4.8rem;
        top: 2.4rem;
        z-index: 99999;
      }
    
      .open-nav ion-icon[name="close-outline"] {
        display: block;
      }
    
      .open-nav ion-icon[name="menu-outline"] {
        display: none;
        z-index: 99999;
      }
    
      .nav-bar .nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 3.2rem;
        gap: 2.4rem;
      }
    
      .nav-bar .btn {
        font-size: inherit;
      }
      .hero-section {
        text-align: center;
        margin-left: 0;
        margin-top: 0;
     }
     .img-hero {
         top: 45rem;
         left: 30rem;
     }
     .content {
      
       flex-direction: column;
       text-align: center;
       font-size: 2.8rem;
       gap: 10rem;
     }
     
     .img-content {
         width: 40rem;
         height: 40rem;
     }
}



